#explorer-main-div {
  height: 100vh;
}

header, footer {
  height: 50px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 100px);
  background-color: white;
  padding: 30px;
}

button {
  font-size: 26px;
}

