#filter-categories-main-div {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;

  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  width: 160px;
  
}

.button {
  font-size: 40px;
  font-size: 4vw;
  margin: 0;
  margin-bottom: 10px;
}